@model Eclipse.Models.ArticleModel
@{
    Eclipse.Models.ArticleItemModel i;
    int CurrentMinPost = @Model.CurrentLastPage - 10;
}
@section Header{
    <div id="logo">
        <h1><a href="#">Eclipse</a></h1>
    </div>
    <div id="menu">
        <ul>
            <li class="active first"><a href="#" title="">Home</a></li>
            <li><a href="#" title="">Blogs</a></li>
            <li><a href="#" title="">Photos</a></li>
            <li><a href="#" title="">About</a></li>
            <li><a href="#" title="">Contact</a></li>
        </ul>
    </div>
}

<!-- end #menu -->
<div id="content">
    @for (int j = @Model.CurrentLastPage - 10; j < @Model.CurrentLastPage; j++) {
        if (j < 0)
        {
            j = 0;
        }
        i = @Model.Articles.ElementAt(j);
    <div class="post">
        <div class="title">
            <h2>@Html.RouteLink(i.Title, "Post", new { i.Title })</h2>
        </div>
        <h3 class="date"><span class="month">@i.Date.ToString()</span> </h3>
        <div class="meta">
            <p>
                Posted by @i.User.UserName<br />
            </p>
        </div>
        <div class="story">
            @if (i.Text.Length > 100)
            {
                @String.Concat(i.Text.Substring(0, 100), "...");
            }
            else
            {
                @Html.Raw(i.Text)
            }

        </div>
    </div>
    }
    @if (Model.Articles.Count > 10)
    {
        @Html.Raw("<form id=\"form1\" method=\"post\" action=\"" + @Url.Action("All", "Home")+"\">")
        if (CurrentMinPost != 0) {
            @Html.Raw("<input id=\"inputsubmit1\" type=\"submit\" name=\"submit\" value=\"Left\" />")
        }
        @CurrentMinPost @Html.Raw("-") @Model.CurrentLastPage @Html.HiddenFor(m => m.CurrentLastPage)
        if (@Model.CurrentLastPage != 0)
        {
            @Html.Raw("<input id=\"inputsubmit1\" type=\"submit\" name=\"submit\" value=\"Right\" /></form>")
        }

    }
    </div>
<!-- end #content -->
