
@section Header{
    <div id="logo">
        <h1><a href="#">Eclipse</a></h1>
    </div>
    <div id="menu">
        <ul>
            <li class="active first"><a href="#" title="">Home</a></li>
            <li><a href="#" title="">Blogs</a></li>
            <li><a href="#" title="">Photos</a></li>
            <li><a href="#" title="">About</a></li>
            <li><a href="#" title="">Contact</a></li>
        </ul>
    </div>
}

@model Eclipse.Models.ArticleItemModel
@{
    HttpCookie cookie = Request.Cookies["is_logged"];
    Boolean isLogged = false;
    if (cookie != null)
    {
        isLogged = true;
    }
}

    <!-- end #menu -->
        <div id="content">
            <div id="welcome" class="post">
                <div class="title">
                    <h2>@Model.Title</h2>
                </div>
                <h3 class="date"><span class="month">@Model.Date.ToString()</span></h3>
                <div class="meta">
                    <p>
                        Posted by @Model.User.UserName <br />
                        @if (isLogged)
                        { 
                          @Html.Raw("<form id=\"form1\" method=\"post\" action=\"" + @Url.Action("Admin", "Home") + "\">")
                          @Html.Raw("<input type=\"submit\" name=\"submit\" value=\"EditPost\" />")
                          @Html.Raw("<input type=\"submit\" name=\"submit\" value=\"DeletePost\" />")
                          @Html.Raw("<input id=\"post\" name=\"post\" type=\"hidden\" value=" + @Model.PostID + " /> </form>")
                        }
                    </p>
                </div>
                <div class="story">
                    @Html.Raw(@Model.Text)
                </div>
            </div>
            <div class="boxed">
                @using Eclipse.Models;
                @if (Model.Comments.Comments.Count > 0) { 
                for (int i = 0; i < 3 && i < Model.Comments.Comments.Count; i++ )
                {
                <div class="title">
                    <h2>@Model.Comments.Comments.ElementAt(i).User.UserName</h2>
                </div>
                <div class="content">
                    <ul class="list1">
                            <li><a href="#">@Model.Comments.Comments.ElementAt(i).Text</a></li>
                            @if(@Model.Comments.Comments.ElementAt(i).User.Age != null) {
                                <li>Years: @Model.Comments.Comments.ElementAt(i).User.Age</li>
                            }
                            @if(@Model.Comments.Comments.ElementAt(i).User.Email != null) {
                                <li>Email: @Model.Comments.Comments.ElementAt(i).User.Email</li>
                            }
                            
                            @if (isLogged)
                            {
                              @Html.Raw("<form id=\"form2\" method=\"post\" action=\"" + @Url.Action("Admin", "Home") + "\">")
                              @Html.Raw("<input type=\"submit\" name=\"submit\" value=\"DeleteComment\" />")
                              @Html.Raw("<input id=\"comment\" name=\"comment\" type=\"hidden\" value=" + @Model.Comments.Comments.ElementAt(i).CommentID + " /> </form>");
                            }
                    </ul>
                </div>
                }
                }
                @Html.ActionLink("Other posts", "All")
            </div>
            @Html.Partial("~/Views/Article/AddComment.cshtml")
        </div>
        <!-- end #content -->